.container{
    margin: 0 auto;
    border: 1px solid blue;
    max-width: 500px;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
}

.container .content{
    margin-top: 150px;
    width: 100%;
    padding: 20px;
}

.container .content input{
    width: 70%;
}